<h2>User Account Settings</h2>

<div>By entering a full name, you and other users will see it displayed in the app instead of your email address.</div>
<%= form_for(@user, html: {id: "user"}) do |f| %>
  <%= f.label :name, "Full Name:" %>
  <%= f.text_field :name %>
  <br />
  <%= f.submit "Update Settings" %>
<% end %>