<h2>Account Details</h2>

<div class="details">
  <div class="details-label">
    Email:
  </div>
  <div class="details-value muted">
    <%= @user.email %>
  </div>
</div>
<div class="details">
  <div class="details-label">
    Name:
  </div>
  <div class="details-value muted">
    <%= @user.name.present? ? @user.name : "Not Set" %>
  </div>
</div>
<div class="details">
  <div class="details-label">
    Web Applications:
  </div>
  <div class="details-value muted">
    <%= @user.web_applications.map(&:name).join("<br>").html_safe %>
  </div>
</div>
<div>
  <%= link_to "edit", edit_user_path(@user), class: "new-or-edit-app-link" %>
</div>
