body
{
  color: black;
  margin: 45px;
}

body, input[type="button"]
{
  font-family: 'Gotham A', 'Gotham B', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

a
{
  color: black;
}

#navbar
{
  background-color: black;
  margin: -45px -45px auto -45px;
  padding: 10px 45px 10px;
  text-align: right;
  height: 35px;
  color: #999;
}

#navbar h1
{
  font-size: 20px;
  line-height: 40px;
  font-weight: normal;
  margin: 0;
  padding-left: 10px;
}

#navbar img, h1
{
  float: left;
}

#navbar h1, #navbar h1 a
{
  color: white;
}

#navbar form
{
  padding: 10px 0;
}

#navbar a,
#navbar input[type="button"]
{
  color: #6EBEFF;
  text-decoration: none;
}

#navbar input[type="button"]
{
  border: none;
  background-color: black;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

#sub-head
{
  margin: 30px 0;
}

#sub-head h2
{
  display: inline;
  font-size: 20px;
}

#sub-head.one-app h2
{
  font-size: 28px;
}

#sub-head a.new,
#sub-head a.edit
{
  color: #3b8bce;
  padding-left: 10px;
  text-decoration: none;
}

#welcome-page h2,
#welcome-page form
{
  text-align: center;
}

#welcome-page form
{
  margin-bottom: 4em;
}

#welcome-page input[type="button"]
{
  font-size: 300%;
  line-height: 120%;
  border-radius: 10px;
  padding: .2em .5em;
  background-color: #3b8bce;
  cursor: pointer;
  color: white;
  border: none;

  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

/*
 * This table lives on the /web_applications page.
 */

table#apps-list
{
  border-collapse: collapse;
  color: #333;
  width: 100%;
}

table#apps-list tr th,
table#apps-list tr td
{
  border-bottom: 1px solid #a9a8a8;
  text-align: left;
}

table#apps-list tr th
{
  color: black;
  padding-bottom: 8px;
  font-weight: normal;
}

table#apps-list tr td
{
  background-color: #f5f5f4;
  vertical-align: middle;
  padding-left: 0;
  padding-right: 40px;
}

table#apps-list tr td a
{
  color: #303030;
  white-space: nowrap;
}

table#apps-list tr td.name
{
  min-width: 200px;
  font-size: 16px;
}

table#apps-list tr td.name a
{
  color: black;
  white-space: normal;
}

table#apps-list tr td a.edit
{
  color: #3b8bce;
}

table#apps-list tr td.status
{
  font-size: 400%;
  font-family: Entypo, Arial, Helvetica, sans-serif;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

table#apps-list tr.success td.status
{
  font-family: Entypo;
  font-size: 300%;
  color: #74a98a;
  background-color: #acd5ba;
}

table#apps-list tr.error td.status
{
  color: #be4b56;
  background-color: #f76068;
}

table#apps-list tr th.name
{
  padding-left: 40px;
}

table#apps-list tr td.name
{
  color: black;
  font-weight: bold;
  padding: 20px 60px 20px 40px;
}

.pagination
{
  margin-top: 20px;
  text-align: right;
}

.pagination .previous_page
{
   padding-right: 16px;
}

.pagination .next_page
{
   padding-left: 16px;
}

.pagination em
{
  font-weight: bold;
  font-style: normal;
  color: black;
}

.pagination a
{
  color: #303030;
}

/*
 * This table lives on the /web_applications page.
 */

table#one-app
{
  border-spacing: 20px;
  margin: -20px;
  color: #333;
}

table#one-app tr td
{
  width: 240px;
  vertical-align: top;
  text-align: center;
  background-color: #f5f5f4;
  padding-bottom: 40px;
}

table#one-app tr td ul
{
  list-style: none;
  padding-left: 0;
}

table#one-app tr td dd
{
  margin-left: 0;
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: bold;
}
