@font-face
{
font-family: 'Entypo';
src: asset_url('assets/entypo.eot');
src: asset_url('assets/entypo.eot?iefix') format('eot'),
     asset_url('assets/entypo.woff') format('woff'),
     asset_url('assets/entypo.ttf') format('truetype'),
     asset_url('assets/entypo.svg#webfont') format('svg');
}