#brand-icon {
  float: left;
  padding-top: 6px;
  padding-right: 5px;
}

#navbar-form {
  display: inline-block;
  margin-bottom: 0px;
  padding-left: 4px;
}

#welcome-page {
  margin-right: auto;
  margin-left: auto;
  width: 60%
}

#user-account {
  display: inline-block;
  vertical-align: bottom;
}