// Place all the styles related to the web_applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#index-header {
  display: inline-block;
  margin-right: 10px;
}

.new-or-edit-app {
  display: inline-block;
}

.new-or-edit-app-link {
  padding-left: 16px;
  font-weight: bold;
}

td.email-list {
  max-width: 200px;
  word-wrap: normal;
}

.details {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
}

.details-label, .details-value {
  display: inline-block;
}

.details-label {
  vertical-align: top;
}