<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h2>Your application <%= @web_application_name %> is unreachable.</h2>

    <p>For more information please log into <%= link_to ENV['HOST_NAME'], url_for(host: ENV["HOST_NAME"], controller: "welcome", action: "index") %></p>
  </body>
</html>
