<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h2>Your application <%= @web_application_name %> is now available.</h2>

    <p>For more information please log into <%= link_to "http://engine-light.herokuapp.com", "http://engline-light.herokuapp.com" %></p>
  </body>
</html>