<h2>Your Web Applications</h2>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Status Endpoint</th>
    <th>Additional Managers</th>
  </tr>
  <% @web_applications.each do |web_app| %>
    <tr>
      <td><%= link_to web_app.name, web_application_path(web_app) %></td>
      <td><%= web_app.status_url %></td>
      <td><%= additional_managers(web_app, @current_user) %></td>
    </tr>
  <% end %>
</table>
