<table>
  <tr>
    <th>Application Name</th>
    <th>Status Endpoint</th>
  </tr>
  <% @web_applications.each do |web_app| %>
    <tr>
      <td><%= web_app.name %></td>
      <td><%= web_app.status_url %></td>
    </tr>
  <% end %>  
</table>
