<div class="status">
  <h2><%= @web_application.name %></h2>
  <b>Status:</b>&nbsp;
  <% status = @web_application.current_status == "ok" ? "success" : "error" %>
  <b class="text-<%= status %>"><%= @web_application.current_status %></b>
</div>
<br>
<div>
  <span class="new-or-edit-app icon-edit">
    <%= link_to "edit", edit_web_application_path(@web_application), class: "new-or-edit-app-link" %>
  </span>
</div>